a {
    color: inherit;
}

p {
    color: white;
}

hr {
    width: 11vw;
    margin: 1vh 0 2vh 0;

}

h2 {
    color: white;
    font-size: 2vw !important;
}



section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

section div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 1em;
}

#homeContainer {
    border: 0;
    background-color: black;
    padding-top: 60px;
    height: 100vh;
    
}

.homeImageContainer {
    position: relative;
    text-align: center;
    color: white;
    object-fit: cover;
    max-height: inherit !important;
    padding: 0;
}

.homeImageContainerText {
    position: absolute;
    top: 21%;
    left: 5.2%;
    
}
.homeImage {
    margin: auto;
    object-fit: cover;
    display:block;
    height: 93.5vh;
    max-width: auto;
    overflow: hidden;
}

/* OLD .homeIMAGE 
.homeImage {
    object-position: 50% 50%;
    object-fit: contain;
    padding: 0px;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
*/

.textIcons {
    flex-direction: row;
    gap: 1vw;
    align-items: flex-start;
    width: 100%;
    padding-left: .1vw;
}


#aboutContainer {
    display: flex;
    background-color: rgb(41, 39, 38);
    height:100%;
    align-items: stretch;
    border: 0;
    height: 35vh;
}

.aboutTextAndPicture {
    flex-direction: row;
}

.aboutTextContainer {
    width: 65%;
    text-align: center;
    height: 100%;
}

.aboutPanel {
    object-fit: contain;
    width:35%;
    background : linear-gradient(90deg, rgb(0,0,0) 0%, rgb(102, 89, 83) 100%);
    max-height: 100vh;
    
}

#projectsContainer {
    background-color: rgb(41, 39, 38);
    height: 100vh;
}

.posts {
    
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    align-items: flex-start;
    gap: 20px;
}

.individualPost {
    border: 2px solid black;
    
}

/*
    .projectsPanel {
        object-fit: contain;
        width:35%;
        
            background : linear-gradient(90deg, rgb(0,0,0) 0%, rgb(102, 89, 83) 100%);
        
        max-height: 100vh;
    } 
*/

.headerPostsContainer {
    width: 65%;
    height: 100%; 
    flex-direction: column;
    
}



.maindiv {
    background-color: rgb(34, 34, 36);
}

